</div>

<div class="footer">
  <hr style="color: #ffffff; margin-left: 5%; margin-right: 5%; margin-top: 30px;">
  <p style="text-align: center;"><%= new Date().getFullYear() %> © حقوق الطبع محفوظة </p>
</div>

</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init();
</script>

</body>

</html>